.gallery {
  display: grid;
  grid-template-columns: repeat(
    5,
    minmax(100px, 180px)
  ); /* minimum width of the image 100px and max 180px*/
  gap: 20px;
}

/* medai query for small devices */
@media only screen and (max-width: 640px) {
  .gallery {
    grid-template-columns: repeat(4, minmax(100px, 110px));
  }
}
@media only screen and (max-width: 420px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(100px, 110px));
  }
}
